. {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

/* main button styles */
.btn-primary {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    color: #005FAC;
}

/* head banner style */

.banner {
    position: relative;
    text-align: right;
}

.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description {
    position: absolute;
    width: 500px;
    left: 876px;
    top: 468px;
    color: #FFFFFF;
}

.banner .btn-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
}

/* Main styles */
.failure {
    display: flex;
    margin: 125px 320px 135px 205px;
    gap: 95px;
}

.lady {}

.failures {
    margin-top: 255px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    color: #151414;
    margin-right: 120;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    width: 416px;
    color: #444343;
    margin-bottom: 21px;
}

.failure-point {
    display: flex;
    gap: 10px;
}

.failure-point-description {
    width: 349px;
    font-weight: 400;
    font-size: 16px;
    ;
    margin-bottom: 8px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Plans styles */
.plan-section {
    margin-bottom: 130px;
}

.plan-section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin: 135px 625x 25px 745px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    margin: 25px 230px 130px 230px;
}

.plan {}

.plan-visual {
    width: 92px;
    height: 92px;
    margin-left: 78px;
}

.plan-writing {
    width: 270px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.positive-mind {
    display: flex;
    margin: 0px 230px 130px 170px;
    width: 1140px;
    height: 300px;
}

.gradient {
    position: absolute;

}

.watch {}

.positive-description {
    position: absolute;
    width: 459px;
    height: 182px;
    margin: 40px 615px 145px 50px;
}

.positive-quote {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.positive-description .btn-primary {
    width: 160px;
    height: 64px;
}

/* footer styles */
.footer {
    background: #151414;
    color: #F8F8F8;
    display: flex;
    width: 1600px;
    height: 576px;
}

.footer-writing {
    margin: 130px 150px 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 485px;
    margin-bottom: 24px;
}

.email {
    width: 184px;
    margin-bottom: 16px;
}

.phone {
    width: 186px;
}
.social-link{
    margin-right: 18px;
    height: 45px;
    width: 45px;
}

.social-media {}

.subscribe {
    margin: 143px 230px 242px 180px;
    width: 325px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 25px;
    width: 125px;
    text-align: left;
}

.subscribe-email {
    width: 325px;
    height: 65px;
    background-color: #151414;
    color: #FFFFFF;
    padding: 25px;
    font-size: 20px;
    margin-bottom: 16px;
    border-color:#FFFFFF;
    border-radius: 8px;
}
.subscribe-email ::placeholder{
    font-size: 20px;
    color: #FFFFFF;
    opacity: 1;
}

.subscribe-btn {
    width: 170px;
    height: 65px;
    background-color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 8px;
}